body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: white;
    text-align: center;
}

.selacaoPokemon {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.selacaoPokemon img {
    width: 100%;
    max-width: 40px;
}

.carta {
    margin: 50px auto;
    background-color: darkgreen;
    border-radius: 15px;
    padding: 15px 10px;
    max-width: 400px;
}

.carta h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
}

.carta .imagemBackground img {
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
} 

.carta .imagemPokemon img {
    width: 100%;
    max-width: 200px;
    position: absolute;
    top: 370px;
    left: 600px;
}

ul {
    list-style-type: none;
    margin-top: 50px;
}